.login-form {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.login-form__error {
  padding: 5px 10px;
  margin: 10px 0;
  border: 1px solid red;
  border-radius: 5px;
}

.user-info {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}